<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="assets/css/style.css">
  <style>
ul#tab-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
li.item-tab {
  padding: 10px 20px;
  border: 1px solid #ddd;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
li.item-tab:hover {
  background-color: #7da9ea;
}
li.item-tab.active {
  background-color: #3498DB;
}

@media screen and (max-width: 667px) {
  li.item-tab {
    margin-bottom: 5px;
  }
}
  </style>
  <title>Quỷ nhỏ & Ngưu ma vương</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <style>
    #intro {
      text-align: center;
    }
    #intro img{
      max-width: 90%;
    }
    h1 {
      font-family: var(--font-secondary);
      text-align: center;
      font-size: 2.5rem;
      font-weight: 200;
      margin: 0 0 50px 0;
    }
    .cd-timeline__img .fas {
      color: white;
      font-size: 1.5em;
    }
    .cd-timeline__img--gift {
      background-color: #e74c3c;
    }
    .cd-timeline__img--drink {
      background-color: #3ee9d1;
    }
    .cd-timeline__img--film {
      background-color: #3498DB;
    }
  </style>
  <script>
    String.prototype.capitalize = function() {
      return this.charAt(0).toUpperCase() + this.slice(1)
    }

    function format_date_ui(d){
        var year = d.getFullYear(), 
            month = d.getMonth() + 1, 
            date = d.getDate();

        if(month < 10)  month = '0' + month;
        if(date < 10)  date = '0' + date;
      
        return  date + '/' + month + '/' + year;
    }
  </script>
</head>
<body>

  <header id="intro">
      <img src="./images/kiss.jpg" alt="" />
      <h1>Quỷ nhỏ <br /> & <br /> Ngưu ma vương</h1>
  </header>

  <nav>
    <ul id="tab-nav"></ul>
  </nav>

  <section class="cd-timeline js-cd-timeline">
    <div class="container max-width-lg cd-timeline__container" id="timeline-container">
    </div>
  </section> <!-- cd-timeline -->

<script type="text/template" id="itemTemplate">
<div class="cd-timeline__block">
  <div class="cd-timeline__img cd-timeline__img--<%= type %>">
    <i class="fas fa-<%= ICON_OPTIONS[type].icon %>"></i>
    <!-- <img src="assets/img/cd-icon-picture.svg" alt="Picture"> -->
  </div> <!-- cd-timeline__img -->

  <div class="cd-timeline__content text-component">
    <h2><%= title %></h2>
    <p class="color-contrast-medium"><%= content %></p>

    <img src="<%= img %>" alt="<%= title %>">

    <div class="flex justify-between items-center">
      <span class="cd-timeline__date"><%= dateUI %></span>
    </div>
  </div> <!-- cd-timeline__content -->
</div> <!-- cd-timeline__block -->
</script>


<script>
var ICON_OPTIONS = {
  location: {
    icon: 'map-marker-alt',
  },
  gift: {
    icon: 'gift',
  },
  drink: {
    icon: 'cocktail',
  }, 
  // picture: {
  //   icon: 'image',
  // }
} 
var dataItems = [
  {
    type: 'drink',
    date: '2020-06-26',
    title: 'Ấn Tượng TD',
    content: '-- ❤️️ --',
    img: './images/timeline/2020-06-26.JPG',
  },
  {
    type: 'location',
    date: '2020-06-19',
    title: 'LV8 Park',
    content: 'Quỷ nhỏ in a dress',
    img: './images/timeline/IMG_20200619_225512_1.jpg',
  },
  {
    type: 'location',
    date: '2020-06-12',
    title: 'Reddoor near HighTechPark',
    content: '-- ❤️️ --',
    img: './images/timeline/2020-06-12.JPG',
  },
  {
    type: 'drink',
    date: '2020-02-29',
    title: 'Lotte Đồng Nai',
    content: '-- ❤️️ --',
    img: './images/timeline/2020-02-29.jpg',
  },
  {
    type: 'location',
    date: '2020-02-12',
    title: 'Gió Bắc',
    content: 'Dường như đó là, chuyện xưa lắm rồi. Gió đưa chân em bước đến tới nơi anh',
    img: './images/timeline/2020-02-12.jpg',
  },
  {
    type: 'drink',
    date: '2020-02-11',
    title: 'Bún bò gánh',
    content: '-- ❤️️ --',
    img: './images/timeline/2020-02-11.jpg',
  },
  {
    type: 'location',
    date: '2020-01-12',
    title: 'Black mail',
    content: 'Oh yeah =)))',
    img: './images/timeline/2020-01-12.JPG',
  },
  {
    type: 'location',
    date: '2019-12-13',
    title: 'Pervert at Park',
    content: 'Oh yeah =)))',
    img: './images/timeline/2019-12-13 02.png',
  },
  {
    type: 'location',
    date: '2019-12-05',
    title: 'Monk at Park',
    content: 'Sư cọ tu không nổi, hoàn lương ngay trong đêm =))',
    img: './images/timeline/2019-12-05.JPG',
  },
  {
    type: 'drink',
    date: '2019-12-02',
    title: 'Tri\' Tea & Sweet',
    content: 'Cảm giác thật là dễ chịu',
    img: './images/timeline/2019-12-02.JPG',
  },
  {
    type: 'location',
    date: '2019-11-30',
    title: 'Reddoorz',
    content: 'Em buồn ngủ =))',
    img: './images/timeline/2019-11-30.JPG',
  },
  {
    type: 'location',
    date: '2019-11-12',
    title: 'Nhật Huy',
    content: 'Lạnh đã có anh bên cạnh ❤️️',
    img: './images/timeline/2019-11-12.JPG',
  },
  {
    type: 'location',
    date: '2019-10-29',
    title: 'Kim Dung',
    content: '<q>Ui xinh thế honey :)))</q>',
    img: './images/timeline/2019-10-29 01.JPG',
  },
  {
    type: 'gift',
    date: '2019-09-01',
    title: 'Quà sinh nhựt',
    content: 'Thank you bae ❤️️',
    img: './images/timeline/birthday.jpg',
  },
  {
    type: 'location',
    date: '2019-08-12',
    title: 'Công viên Lê Văn Tám',
    content: 'Nhìn ngon nhỉ?',
    img: './images/timeline/2019-08-12.JPG',
  },
  {
    type: 'drink',
    date: '2019-07-03',
    title: 'HOT & COLD',
    content: 'Sau khi kiếm mãi mới ra quán trà sữa ngay ngã tư...',
    img: './images/timeline/2019-07-03 01.JPG',
  },
  {
    type: 'drink',
    date: '2019-07-03',
    title: 'Kem Dừa',
    content: 'VT6.',
    img: './images/timeline/2019-06-19.JPG',
  },
  {
    type: 'gift',
    date: '2019-05-23',
    title: 'Ốp lưng độc quyền',
    content: 'Đây là cái tấm hình được vẽ sau cái ốp lưng của Khánk ka đang xài, được ship vào ngày 23/05/2019',
    img: './images/tam-with-pic.jpg',
  },
  {
    type: 'drink',
    date: '2019-04-21',
    title: 'YUM',
    content: 'Lưỡng lự mãi mới chạy vào gần nhà anh yêu, rũ uống trà sữa.',
    img: './images/timeline/IMG_20190421_104224.jpg',
  },
  {
    type: 'location',
    date: '2019-04-13',
    title: 'Đồng Nai',
    content: 'Nhân ngày vua Hùng, nên 2 cháu chỉ dám nắm tay thôi...',
    img: './images/timeline/hold hands.JPEG',
  },
];
</script>



<script>

var TabController = function(){
	var instance = {};
  
	function refreshItem() {
	  var types = [];
    $('.item-tab.active').each(function(index, el) {
      types.push(
        $(el).data('type')
      )
    })
	  ContentController.render(types);
	}
  
	instance.init = function() {
	  // build DOM
	  var tabNavEl = document.getElementById('tab-nav');
	  _.each(ICON_OPTIONS, function(iconOption, key) {
		tabNavEl.innerHTML += '<li class="item-tab" data-type="' + key + '">' + key.capitalize()  + '</li>';
	  });
  
	  // add events
	  $('.item-tab').click(function(e) {
      $(this).toggleClass('active');
		  refreshItem();
	  });
	}
	return instance;
  }();
  
  
  var ContentController = function() {
	var instance = {};
  
	var timelineCon = document.getElementById('timeline-container');
	var itemTemplate = _.template(document.getElementById('itemTemplate').innerHTML);
	
	instance.init = function () {
	  instance.render();
	}
  
  
	instance.render = function (types) {
	  var renderItems = dataItems;
  
	  // filter items before render
	  if (types && types.length > 0) {
      var renderItems = _.filter(dataItems, function(item) {
        return types.indexOf(item.type) > -1;
      });
	  }
  
	  timelineCon.innerHTML = '';
  
	  // build content
	  _.each(renderItems, function(item) {
  
		item.dateUI = format_date_ui( new Date(item.date));
  
		// add item 
		var html = itemTemplate(item);
		timelineCon.innerHTML += html;
	  });
  
	  // VerticalTimeline.hideBlocks();
  
	  AnimationController.start();
	}
  
	return instance;
}();
  

function VerticalTimeline( element ) {
	this.element = element;
	this.blocks = this.element.getElementsByClassName("cd-timeline__block");
	this.images = this.element.getElementsByClassName("cd-timeline__img");
	this.contents = this.element.getElementsByClassName("cd-timeline__content");
	this.offset = 0.8;
	this.hideBlocks();
};

VerticalTimeline.prototype.hideBlocks = function() {
	if ( !"classList" in document.documentElement ) {
		return; // no animation on older browsers
	}
	//hide timeline blocks which are outside the viewport
	var self = this;
	for( var i = 0; i < this.blocks.length; i++) {
		(function(i){
			if( self.blocks[i].getBoundingClientRect().top > window.innerHeight*self.offset ) {
				self.images[i].classList.add("cd-timeline__img--hidden"); 
				self.contents[i].classList.add("cd-timeline__content--hidden"); 
			}
		})(i);
	}
};

VerticalTimeline.prototype.showBlocks = function() {
	if ( ! "classList" in document.documentElement ) {
		return;
	}
	var self = this;
	for( var i = 0; i < this.blocks.length; i++) {
		(function(i){
			if( self.contents[i].classList.contains("cd-timeline__content--hidden") && self.blocks[i].getBoundingClientRect().top <= window.innerHeight*self.offset ) {
				// add bounce-in animation
				self.images[i].classList.add("cd-timeline__img--bounce-in");
				self.contents[i].classList.add("cd-timeline__content--bounce-in");
				self.images[i].classList.remove("cd-timeline__img--hidden");
				self.contents[i].classList.remove("cd-timeline__content--hidden");
			}
		})(i);
	}
};


var AnimationController = function() {
	var instance = {};

	var verticalTimelines = document.getElementsByClassName("js-cd-timeline"),
			verticalTimelinesArray = [],
			scrolling = false;

	function checkTimelineScroll() {
		verticalTimelinesArray.forEach(function(timeline){
			timeline.showBlocks();
		});
		scrolling = false;
	};

	function processScroll(event) {
		if( !scrolling ) {
			scrolling = true;
			(!window.requestAnimationFrame) ? setTimeout(checkTimelineScroll, 250) : window.requestAnimationFrame(checkTimelineScroll);
		}
	}

	instance.start = function() {
		// reset
		verticalTimelinesArray = [];

		// add again
		if( verticalTimelines.length > 0 ) {
			for( var i = 0; i < verticalTimelines.length; i++) {
				(function(i){
					verticalTimelinesArray.push(new VerticalTimeline(verticalTimelines[i]));
				})(i);
			}

			window.removeEventListener('scroll', processScroll);

			//show timeline blocks on scrolling
			window.addEventListener("scroll", processScroll);
		}
	}

	return instance;
}();

(function(){
  // Vertical Timeline - by CodyHouse.co
  	TabController.init();
  	ContentController.init();
  	AnimationController.start();
})();
</script>

</body>
</html>