.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

blockquote
  border-left 5px solid #e14938
  border-bottom 1px solid #e14938
  &>p
    color black
    white-space pre-line
    margin-bottom 0
  .custom-block.right p
    margin 0
    color grey