 @import "grid.styl"

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right

blockquote
  padding 0
  border-left 5px solid #e14938
  &>p
    color grey
    white-space pre-line
    margin-bottom 0
    padding 0.25rem 0 0.25rem 1rem
  .custom-block.right p
    margin 0
    color #999
    border-bottom 1px solid #e14938

blockquote.highlight-quote
  &>p
    color black

.theme-default-content 
  code
    color #429cfb;

.theme-default-content:not(.custom) 
  margin-left: 0;
  padding: 2rem 2.5rem;

.right-anchor-wrapper
  max-height 85vh!important
  .ra-menu-item
    max-width 250px!important
    

@media (max-width: 769px)
  .right-anchor-wrapper
    display none!important